/* clear fix */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

h1 {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 87%;
  margin: 0 auto;
}