// colors
$black: #000;
$white: #fff;
$dark-orange: #f27f0d;
$orange: #f7910c;
$grey: #7f8286;
$light-grey: #e5e5e5;
$blue: #1e5787;
$light-blue: #399fda;

// fonts
$font-awesome: FontAwesome;
$bold: 600;

// breakpoints
$phone-size: 540px;
$tablet-size: 995px;
