/* ==========================================================================
   CSS Reset Code
   ========================================================================== */
/* Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* clear fix */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

h1 {
  width: 10%;
  display: inline-block;
  vertical-align: middle; }

h3 {
  color: #fff;
  font-size: 41px;
  font-weight: 600; }

h4 {
  margin-bottom: 17px;
  color: #fff;
  font-size: 33px;
  font-weight: 600;
  text-transform: capitalize; }

p {
  color: #7f8286;
  font-size: 17px;
  line-height: 1.4; }

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 87%;
  margin: 0 auto; }

.header-top .wrapper {
  padding: 3px 0;
  background-color: #f7910c;
  text-align: right; }
.header-top .about-us {
  display: inline-block; }
  .header-top .about-us a {
    padding: 0 20px 0 16px;
    border-right: 1px solid;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize; }
  .header-top .about-us .select {
    padding: 0 28px 0 25px; }
    .header-top .about-us .select_language {
      display: none; }
    .header-top .about-us .select:after {
      content: '\f078';
      padding-left: 8px;
      font-family: FontAwesome;
      font-size: 9px; }
  .header-top .about-us .search_here {
    display: none; }
  .header-top .about-us .search_btn {
    border: 0;
    background: transparent;
    text-indent: -9999px; }
    .header-top .about-us .search_btn::after {
      content: '\f002';
      padding: 0px 19px 0 14px;
      border-right: 1px solid;
      float: right;
      color: #fff;
      font-family: FontAwesome;
      font-size: 12px;
      text-indent: 0; }
.header-top .icons {
  width: 12%;
  margin: 0 1.6%;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-top .icons li {
    width: 10%; }
  .header-top .icons-facebook {
    width: 44%; }

.header-bottom .wrapper {
  margin: 18px auto; }

.nav {
  margin-top: 24px;
  float: right; }
  .nav_list li {
    padding: 0 34px; }
  .nav_list a {
    color: #f7910c;
    font-size: 11px;
    text-transform: uppercase; }
  .nav .hamburger {
    display: none; }

.banner {
  margin-bottom: 70px;
  position: relative; }
  .banner h3 {
    position: absolute;
    bottom: 55px;
    left: 20%; }

.explore-us {
  margin-bottom: 70px; }
  .explore-us .wrapper {
    background-color: #f7910c; }
  .explore-us .about-school {
    width: 27%;
    padding: 0 47px 0 114px;
    display: inline-block;
    vertical-align: middle; }
  .explore-us .video {
    width: 58.1%;
    display: inline-block;
    vertical-align: middle; }
  .explore-us p {
    margin-bottom: 35px;
    color: #fff; }
  .explore-us a {
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize; }
  .explore-us .modal {
    display: none; }

/*# sourceMappingURL=style.css.map */
