.feedback {
  margin-bottom: 70px;
  
  h4 {
    padding: 21px 0;
    margin: 0;
    background-color: $dark-orange;
    text-align: center;
  }
  
  .slider {
    padding: 77px 0;
    background-color: $orange;
    
    &_slide {
      position: relative;

      > figure {
        width: 39%;
        margin-left: 7%;
        @extend %inline-block;

        @include breakpoints(tablet) {
          width: 100%;
          margin: 0;
        }
      }
    }
    
    &-info {
      width: 43%;
      margin-left: 4%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      @include breakpoints(tablet) {
        width: 100%;
        margin: 70px 0 0;
      }

      figure {
        width: 3%;
        position: absolute;
        top: 19px;
        left: 46.6%;

        @include breakpoints(tablet) {
          top: unset;
          bottom: 129px;
          left: 50%;
        }
      }
      
      p {
        margin-bottom: 18px;
        color: $white;
        font-size: 25px;
        
        &::first-letter { text-transform: capitalize; }
      }
      
      span {
        width: 42%;
        margin: 0 auto;
        display: block;
        color: $white;
        font-weight: $bold;
        text-transform: uppercase;
      }
    }
    
    .slick {
      &-prev {
        left: 2.6%;
        z-index: 1;

        @include breakpoints(tablet) {
          top: unset;
          bottom: 25px; }

        &::before {
          content: '\f053';
          font-family: $font-awesome;
        }
      }

      &-next {
        right: 2.6%;
        z-index: 1;

        @include breakpoints(tablet) {
          top: unset;
          bottom: 25px;
        }

        &::before {
          content: '\f054';
          font-family: $font-awesome;
        }
      }

      &-dots {
        bottom: 30px;

        li {
          button {
            &:before {
              font-size: 60px;
            }
          }
        }
        li.slick-active {
          button {
            &:before {
              color: $white;
            }
          }
        }
      }
    }
  }
}