.nav {
  margin-top: 24px;
  float: right;

  &_list {
    li { padding: 0 34px; }

    a {
      color: $orange;
      font-size: 11px;
      text-transform: uppercase;
      
      &:hover {
        @include reverse-breakpoint(desktop) { color: $black; }
        @include transition(.5s ease-in-out);
      }
    }
  }

  .hamburger { display: none; }
}